<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body>
	
	<header th:replace="layout/layout :: header">
	</header>
	
	<div id="containeralbum" class="container py-4">
		
		<div class="card text-dark">
			
			<div class="card">
				<div class="card-header" th:text="${title}"></div>
				
				<div sec:authorize="hasRole('ROLE_ADMIN')" class="navbar navbar-expand-lg navbar-light bg-light">
				 	<ul class="navbar-nav">
				 		<li class="nav-item"><a class="nav-link" th:href="@{'/album/form/' + ${productor.id}}" th:text="'crear album'"></a></li>
				 		<li class="nav-item"><a class="nav-link" th:href="@{'/beat/form/' + ${productor.id}}" th:text="'crear beat'"></a></li>
				 	</ul>
			 	</div>
				
				<!--<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs" th:href="@{'/factura/form/' + ${cliente.id}}" th:text="'crear factura'"></a>
				</h4>-->
				<h4 class="card-title px-4 py-2">
					<a th:href="@{'/productores/'}"
								class="btn btn-secondary">&laquo; volver</a>
				</h4>
							
				<div class="card-body py-0">
					
					<div class="row px-4">			
						<img th:if="${#strings.length(productor.foto) > 0}"
								class="img-thumbnail rounded float-left" style="max-width: 25%;"
								th:src="@{'/productores/uploads-productor/' + ${productor.foto}}" th:alt="${productor.foto}" />
								
						<img th:unless="${#strings.length(productor.foto) > 0}" th:src="@{/images/walkout-dark.jpg}" class="card-img-top" alt="Walkout Logo" style="max-width: 25%;"/>
		
						<ul class="list-group px-4">
							<li class="list-group-item" th:text="${productor.nombre} + ' ' + ${productor.apellido}"></li>
							<li class="list-group-item" th:text="${productor.nickname}"></li>
							<li class="list-group-item" th:text="${productor.email}"></li>
							<li class="list-group-item" th:text="${productor.ciudad}"></li>
						</ul>
					
					</div>
					
					<div th:if="${#lists.isEmpty(productor.albums)}"
							class="alert alert-info my-4"
							th:text="'No existen albums para' + ${productor.nombre} + '' + ${productor.apellido}">
					</div>
					
					<div class="row" th:if="${not #lists.isEmpty(productor.albums)}">
						<div class="col-sm-12 py-4" th:each="album: ${productor.albums}">
							<div class="card">
							
						  		<h5 class="card-header" th:text="${album.descripcion}"></h5>
						  		
					  			<div class="card-body">
					    			
					    			<div class="row">
					    				
					    				<div class="col-sm-8 mx-0">
					    					<h5 class="card-title" th:text="${album.productor.nickname}"></h5>
					    					
					    					<p class="card-text text-warning">
					    						<small class="text-right" th:text="${album.createAt}"></small>
					    					</p>
							
							    			<!-- <ul id="myBeatsonAlbum" class="list-group px-0 py-1" th:each="beat: ${productor.beats}">
												<li class="list-group-item" th:text="${beat.nombre} + ' ' + ${beat.precio}"></li>
											</ul>	
											-->
											
											<span th:if="${#lists.size(album.beatsa) > 0 }" th:text="'existen más beats'"></span>
											<br/>
											
											<a class="btn btn-primary btn-xs my-4" th:href="@{'/album/ver/' + ${album.id}}" th:text="'Ver todos los Beats'"></a>
											
					    				</div>
					    				
					    				<div class="col-sm-4 px-0">
											<img th:if="${#strings.length(album.foto) > 0}"
											class="img-thumbnail rounded float-right" style="max-width: 80%;"
											th:src="@{'/album/uploads-productor/' + ${album.foto}}" th:alt="${album.foto}" />
										
											<img class="img-thumbnail rounded float-left" th:unless="${#strings.length(album.foto) > 0}" th:src="@{/images/walkout-light.jpg}">
										    					
					    				</div>
					    				
					    			</div>
					    		
							  </div>
							  
							</div>
						</div>
					</div>
								
				</div>
			</div>
							
		</div>
		
	</div>
	

	<footer  th:replace="layout/layout :: footer"></footer>
	
</body>
</html>