<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body class="container">
	
	<header th:replace="layout/layout :: header">
	</header>
		<div id="containerbody" class="container py-4">
			<h4 class="text-warning" th:text="${title}"></h4>
			<div class="row px-4">
				
				<div class="col-md-3 py-2 px-1" th:each="audios: ${allaudios}">
				  	<div class="card text-warning">
			    		
			    		<div class="card-header py-0" th:text="${audios.nombre}"></div>
			    			
			    			<div class="d-flex justify-content-center">
				    			<img th:if="${#strings.length(audios.foto) > 0}"
								class="img-thumbnail rounded" style="max-width: 75%;"
								th:src="@{'/audio/uploads-productor/' + ${audios.foto}}" th:alt="${audios.foto}" />
								
								<img th:if="${#strings.isEmpty(audios.foto) || #strings.length(audios.foto) < 0}" th:src="@{/images/walkout-dark.jpg}" class="card-img-top" alt="Walkout Logo" style="max-width: 75%;" />
			    			</div>
			    		
				    	<div class="card-body px-0 py-0 my-0">
				    		
				    		<div class="d-flex justify-content-start">
				    			<p th:if="${#strings.isEmpty(audios.audio) || #strings.length(audios.audio) < 0}" class="container text-info my-0" th:text="'No existe audio para este beat'"></p>
				    			
				    			<audio controls class="song" th:if="${not #strings.isEmpty(audios.audio)}">
									<source th:src="@{'/audio/uploads-productor/' + ${audios.audio}}" type="audio/mpeg">							
								</audio>
				    		</div>
				    		<br/>
							<div class="container mx-0 py-auto"> 
								<!-- como la inserccion del audio es dinamica, cuando hay dos audios o mas se reproducen todos de golpe, probar cogiendo de id el id del album en vez de una clase generia :) -->
						  		<i class="far fa-play-circle fa-2x"></i>
						  		
						  		<!-- Esto puede que tenga sentifo de manera general en vez de por cada tema <input class="volume" type="range" />  -->
						  		
						  		<!-- <i onclick="document.getElementById('player').volume += 0.1">Vol +</i> 
						  		<i onclick="document.getElementById('player').volume -= 0.1">Vol -</i>  -->
							</div> 
							<h5 th:text="${audios.productor.nickname}"></h5>
				      		<div class="text-warning my-0 py-0 mx-4">
				      			<span class="text-left">
				      				<p class="card-text" th:text="${audios.tipo}"></p>
				      			</span>
				      			<p class="card-text text-right" th:text="${audios.categoria.nombre}"></p>
				      		</div>
				      		<p class="card-text"><strong><small th:text="'Create at: ' + ${audios.createAt}" class="text-light"></small></strong></p>
				    	</div>
				    
			  		</div>
				</div>
		
			</div>
		</div>

	<footer th:replace="layout/layout :: footer">
	</footer>
	
	<script th:replace="../static/js/myjs :: sound"></script>

	
</body>
</html>