<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body>
	
	<header th:replace="layout/layout :: header">
	</header>
	
	<div id="containerbodyp" class="container py-4">
		
		
		<div class="card text-warning">
			<div class="card-header" th:text="${title}"></div>
			<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-xs" th:href="@{/productores/form}">crear productor</a>
			
			<!-- <div th:if="${#authorization.expression('hasRole(''ROLE_PRODUCTOR'')') and #authorization.expression('hasRole(''ROLE_USER'')')}">
			    This will only be displayed if authenticated user has role ROLE_ADMIN.
			</div>  -->
				
			<div class="row px-4">
				<div class="col-md-4" th:each="productor: ${productores}">
					<!--<p th:if="${username == productor.nickname}"><a th:href="@{/productores/ver/} + ${productor.id}" th:text="'Ver albumnes'"></a></p>-->
					<div class="card my-2" style="width: auto;">
					
	  					<img th:if="${#strings.length(productor.foto) > 0}"
						class="img-thumbnail rounded float-left" style="max-width: 100%;"
						th:src="@{'/productores/uploads-productor/' + ${productor.foto}}" th:alt="${productor.foto}" />
						
						<img class="img-thumbnail rounded float-left" th:unless="${#strings.length(productor.foto) > 0}" th:src="@{/images/walkout-light.jpg}">
						
					  	<div class="card-body">
					    	<h5 th:text="${productor.nickname}" class="card-title"></h5>
						    <p th:text="${productor.nombre + ' ' + productor.apellido}" class="card-text"></p>
					  	</div>
	  					<ul class="list-group list-group-flush">
	    					<li th:text="${productor.email}" class="list-group-item text-dark"></li>
	    					<li th:text="${productor.ciudad}" class="list-group-item text-dark"></li>
	  					</ul>
					  	<div class="card-body py-0 px-0">
					  		<div class="navbar navbar-expand-sm bg-dark py-0 px-0" style="border-bottom:2px solid yellow;">
						  		<ul class="navbar-nav mx-auto">
						  			<li class="nav-item mx-0 px-4">
						  				<a class="nav-link text-light" th:href="@{/productores/ver/} + ${productor.id}" th:text="'Ver albumnes'"></a>
						  			</li>
						  			<li class="nav-item mx-0 px-4">
						  				<a class="nav-link text-light" th:href="@{/productores/ver-audio/} + ${productor.id}" th:text="'Ver Audios'"></a>
						  			</li>
						  		</ul>
						  		
					  		</div>
					  		
					  		<div sec:authorize="hasRole('ROLE_ADMIN')" class="navbar navbar-expand-sm bg-dark py-0 px-0" style="border-top:2px solid yellow;">
						  		<ul class="navbar-nav mx-auto">
						  			<li class="nav-item">
						  				<a th:href="@{/productores/form/} + ${productor.id}" th:text="'editar'" class="btn btn-primary">Editar</a>
						  				<a class="btn btn-danger" th:href="@{/productores/eliminar/} + ${productor.id}" th:text="'eliminar'" onclick="return confirm('seguro que desea eliminar el usuario???');"></a>
						  			</li>
						  		</ul>
					  		</div>
					  		<div sec:authorize="hasRole('ROLE_PRODUCTOR')" th:if="${#authentication.name == productor.nickname}">
					  			<p th:text="'Enlace perfil de: ' + ${#authentication.name}"></p>
					  		</div>
					  		
					  	</div>
					</div>
				</div>
			</div>				
		</div>
		
	</div>
	

	<footer  th:replace="layout/layout :: footer"></footer>
	
</body>
</html>