<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body>
	
	<header th:replace="layout/layout :: header">
	</header>
	
	<div id="containerbodyp" class="container py-4">
		
		<div class="card text-warning">
			<div class="card-header" th:text="${title}"></div>
			<a class="btn btn-xs" th:href="@{/productores/form}">crear productor</a>
			<div class="row px-4">
				<div class="col-md-4" th:each="productor: ${productores}">
					<div class="card my-2" style="width: auto;">
					
	  					<img th:if="${#strings.length(productor.foto) > 0}"
						class="img-thumbnail rounded float-left" style="max-width: 100%;"
						th:src="@{'/productores/uploads-productor/' + ${productor.foto}}" th:alt="${productor.foto}" />
						
					  	<div class="card-body">
					    	<h5 th:text="${productor.nickname}" class="card-title"></h5>
						    <p th:text="${productor.nombre + ' ' + productor.apellido}" class="card-text"></p>
					  	</div>
	  					<ul class="list-group list-group-flush">
	    					<li th:text="${productor.email}" class="list-group-item text-dark"></li>
	    					<li th:text="${productor.ciudad}" class="list-group-item text-dark"></li>
	  					</ul>
					  	<div class="card-body py-0 px-0">
					  		<div class="navbar navbar-expand-sm bg-dark py-0 px-0" style="border:2px solid yellow;">
						  		<ul class="navbar-nav mx-auto">
						  			<!--<li>
						  				<a th:href="@{/productores/form/} + ${productor.id}" th:text="'editar'" class="list-group-item">Editar</a>
						  				<a class="list-group-item" th:href="@{/productores/eliminar/} + ${productor.id}" th:text="'eliminar'" onclick="return confirm('seguro que desea eliminar el usuario???');"></a>
						  			</li>
						  			 -->
						  			<li class="nav-item mx-0 px-4" style="border:2px solid yellow;">
						  				<a class="nav-link text-light" th:href="@{/productores/ver/} + ${productor.id}" th:text="'Ver albumnes'"></a>
							    		<!-- <a class="list-group-item" th:href="@{'/album/form/' + ${productor.id}}" th:text="'crear album'"></a>  -->
						  			</li>
						  			<li class="nav-item mx-0 px-4"  style="border:2px solid yellow;">
						  				<a class="nav-link text-light" th:href="@{/productores/ver-beat/} + ${productor.id}" th:text="'Ver beats'"></a>
							    		<!-- <a class="list-group-item" th:href="@{'/beat/form/' + ${productor.id}}" th:text="'crear beat'"></a>  -->
						  			</li>
						  		</ul>
					  		</div>
					  	</div>
					</div>
				</div>
			</div>				
		</div>
		
	</div>
	

	<footer  th:replace="layout/layout :: footer"></footer>
	
</body>
</html>