<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	
	<header th:replace="layout/layout :: header">
	</header>
	
	<div id="detallesalbum" class="container py-4">
		
		<div class="card">
			<div class="card-header text-warning" th:text="${title}"></div>
			<!-- <a class="btn btn-dark btn-xs" th:href="@{/form}">crear productor</a>-->
			<div class="row px-4">
				<div class="card my-2">
  					
  					<div class="card-body">
						<h4 class="card-title px-4">
							<a th:href="@{'/productores/ver/' + ${album.productor.id}}"
								class="btn btn-secondary">&laquo; volver</a>
						</h4>
						
						<div class="row px-4">
						
							<img th:if="${#strings.length(album.foto) > 0}"
							class="img-thumbnail rounded float-left" style="max-width: 25%;"
							th:src="@{'/album/uploads-productor/' + ${album.foto}}" th:alt="${album.foto}" />
							
							<img th:if="${#strings.isEmpty(album.foto) || #strings.length(album.foto) < 0}" th:src="@{/images/walkout-dark.jpg}" class="card-img-top" alt="Walkout Logo" style="max-width: 25%;" />
														
							<ul class="list-group px-4 text-light">
								<li class="list-group-item list-group-item-primary"
									th:text="'Datos del Productor'"></li>
								<li class="list-group-item" th:text="${album.productor.nombre}"></li>
								<li class="list-group-item" th:text="${album.productor.email}"></li>
								<li class="list-group-item" th:text="${album.productor.nickname}"></li>
							</ul>
			
							<ul class="list-group text-light">
								<li class="list-group-item list-group-item-success"
									th:text="'Datos del Album'"></li>
								<li class="list-group-item" th:text="'Id: ' + ${album.id}"></li>
								<li class="list-group-item"
									th:text="'Descripción: ' + ${album.descripcion}"></li>
								<li class="list-group-item"
									th:text="'Fecha: ' + ${album.createAt}"></li>
							</ul>
							<ul sec:authorize="hasRole('ROLE_ADMIN')" class="list-group px-2 text-light">
								<li class="list-group-item list-group-item-success"
									th:text="'Acciones'"></li>
								<!-- <li class="list-group-item" th:text="'Editar'"><a th:href="@{/album/form/} + ${album.id}" th:text="'editar'" class="btn btn-primary">Editar</a></li>  -->
								<li class="list-group-item"><a class="btn btn-danger btn-xs" th:href="@{'/album/eliminar/' + ${album.id}}" th:text="'eliminar'" onclick="return confirm('Estas seguro que desea eliminar el album?');"></a></li>
							</ul>
						</div>
		
						<div class="alert alert-info my-4"
							th:if="${#lists.isEmpty(album.audioi)}"
							th:text="'No hay beats para el album' + ${album.descripcion}"></div>
						
						<div class="row" th:if="${not #lists.isEmpty(album.audioi)}">
							<div class="col-sm-12 my-0" th:each="linea: ${album.audioi}">
								<div class="card-header" th:text="${linea.audio.nombre}">
							    	
							  	</div>
							  	<div class="card-body py-0">
							  		<div class="row py-0">
							  			<div class="col-sm-8 mx-0">
							  			
							  				<h5 class="card-title" th:text="${linea.audio.productor.nickname}"></h5>
							  				
								    		<h4 th:if="${#strings.isEmpty(linea.audio.audio) || #strings.length(linea.audio.audio) < 0}" class="container" th:text="'No existe audio para este beat'" style="padding-left:0px; padding-right:0px;"></h4>
											<audio controls class="container" th:if="${not #strings.isEmpty(linea.audio.audio)}" style="padding-left:0px; padding-right:0px;">
												<source th:src="@{'/audio/uploads-productor/' + ${linea.audio.audio}}" type="audio/mpeg">
											</audio>
								    		<!-- <a href="#" class="btn btn-primary">Editar</a>  -->
							  			</div>
							  			<div class="col-sm-4 mx-0 py-0 my-0">
							  				<img th:if="${#strings.length(linea.audio.foto) > 0}"
											class="img-thumbnail rounded float-left" style="max-width: 60%%;"
											th:src="@{'/audio/uploads-productor/' + ${linea.audio.foto}}" th:alt="${linea.audio.foto}" />
						
											<img th:if="${#strings.isEmpty(linea.audio.foto) || #strings.length(linea.audio.foto) < 0}" th:src="@{/images/walkout-dark.jpg}" class="card-img-top" alt="Walkout Logo" style="max-width: 45%;" />
											
											<p class="card-text" th:text="${linea.audio.categoria.nombre} + ' ' + ${linea.audio.tipo}"></p>
											<p class="card-text" th:text="${linea.audio.precio}"></p>
							  			</div>
							  		</div>
				
						  		</div>
							
							</div>
						</div>
		
						<div class="card border-info mb-4" style="max-width: 20rem;">
							<div class="header">Comentarios</div>
		
							<!-- <div class="card-body">
								<p class="card-text" th:text="${factura.observacion}"
									th:if="${not #strings.isEmpty(factura.observacion)}"></p>
								<h4 class="card-title"
									th:if="${#strings.isEmpty(factura.observacion)}"
									th:text="'No tiene observaciones'"></h4>
							</div>
							-->
						</div>
		
						<!-- <a th:href="@{'/ver/' + ${factura.cliente.id}}"
							class="btn btn-secondary">&laquo; volver</a> -->
		
					</div>
				  	
				</div>
				
			</div>				
		</div>
		
	</div>
	

	<footer  th:replace="layout/layout :: footer"></footer>
	
</body>
</html>